# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**



*   List popular languages that Data Scientists use
*   List commonly used libraries by Data Scientists

*   Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R

1.   SQL
2.   Java

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   Numpy

1.   ggplot
2.   Seaborn

| Data Science Tools |
|---|
| Jupyter Notebook |
| RStudio |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Takunda Duncan